
.rounded {
    border-radius: 50%!important;
}

.addButton {
    text-align: center;
    color: green;
    font-size: 30px;
    display: relative;
    top: 10px;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: 0.56;
    }
}